body {
    background-color: #fff6ea;
    margin: 0; 
    padding: 0;
    font-family: sans-serif;
}

@media only screen and (max-width: 500px) {
    body {
        margin: auto; 
    
    }
}





nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: absolute;
    top: 8px;
    right: 16px;
    gap: 20px;
    font-size: large;
    background: transparent;
    width: 100%;
    height: 30px;
    overflow: hidden;
}

a:link {
    text-decoration: border; 
   text-decoration: none;
    font-size: 20px;
  
}

a:visited {
    color:#fff6ea;
}

@media only screen and (max-width: 600px) {
    nav {
        justify-content: center;
        position:fixed;
        width: 100%;
        background-color: #572728;
        padding-top: 10px;
    }
}

@media only screen and (max-width: 900px) {
    nav {
        justify-content: center;
        position:fixed;
        width: 100%;
        background-color: #572728;
        padding-top: 10px;
    }
}


.vibe {
    margin: 0; 
    padding: 0;

}

.purpose {
    padding-top: 20px;
    height: 500px;
}

@media only screen and (max-width: 600px) {
    .purpose {
        display: block;
            flex-direction: row;
            justify-content: center;
        width: 50%;
        background-color: #572728;
        padding-top: 10px;
    }
}




h1 {
color:#fff6ea;
display: block;
flex-direction: column;
 font-size: 50px;
 padding-left: 30px;
}

@media only screen and (max-width: 600px) {
    h1{
        color:#fff6ea;
        display: block;
        flex-direction: column;
        font-size: 30px;
    }
}

h3 {
    color:#fff6ea;
}

p {
  
    padding-top: 150px;
    padding-right:60px;
    padding-left: 30px;
    padding-right:30px;
    color:#fff6ea;
    font-size: 20px;
}






@media only screen and (max-width: 600px) {
    p {
        color:#fff6ea;
        display: block;
        flex-direction: column;
        font-size: 15px;
        padding-top: 0;
    }
}

@media only screen and (max-width: 1077px) {
    p {
        color:#fff6ea;
        display: block;
        flex-direction: column;
        font-size: 15px;
        padding-top: 0;
    }
}

@media only screen and (max-width: 1230px) {
    .first {
        color:#fff6ea;
        display: block;
        flex-direction: column;
        font-size: 15px;
        padding-top: 10;
    }
}



.box {
    display: flex;
    flex-direction: row;
    justify-content: center;  
    background-color:#fff6ea;
    padding-top: 30px;
    padding-left: 0%;
    height: 400px;
   
}

@media only screen and (max-width: 600px) {
    .box {
        color:#fff6ea;
        display: block;
        flex-direction: row;
        font-size: 10px;
        height: 100%;
        margin:auto
    }
}

@media only screen and (max-width: 1077px) {
    .box {
        color:#fff6ea;
        display: block;
        flex-direction: column;
        align-items: center;
        font-size: 10px;
        height: 100%;
        margin:auto
    }
}





.box2 {
    display: flex;
    flex-direction: row;
    flex-basis: auto;
    justify-content: space-around;
    gap: 20px;
    align-items: center;
    padding-top: 90px;
    padding-bottom: 50px;
}



.shadow {
    width: 250px;
    height: 250px;
    top: 50%;
    left: 50%; 
    box-shadow: 10px 10px 54px -6px rgba(0,0,0,0.75);
}


@media only screen and (max-width: 600px) {
    .shadow {
        color:#fff6ea;
        
        display: block;
        
        font-size: 10px;
    }
}






h2 {
    padding-left: 30px;
    padding-right: 30px;
    font-size: xx-large;
}



h2,li {
    color: #fff6ea;
}


@media only screen and (max-width: 800px) {
    li {
        color:#fff6ea;
        font-size: 15px;
    }
}

@media only screen and (min-width: 200px) {
    li {
        color:#fff6ea;
        font-size: 12px;
    }
}





.music {
    
    background-image: url("https://res.cloudinary.com/dq7abmqts/image/upload/v1664325584/yogabg_2_n67fsg.png");
    background-attachment: fixed;
    height: 400px;
    width: 100%;
    background-repeat: no-repeat;
        background-size: cover;
       
      }

    

.blog{
    
        background-image: url("https://res.cloudinary.com/dq7abmqts/image/upload/v1664326011/yogabg_3_idvewf.png");
        background-attachment: fixed;
        height: 400px;
        width: 100%;
        background-repeat: no-repeat;
            background-size: cover;
            padding-top: 50px;
          }

         
  .food {
    background-image: url("https://res.cloudinary.com/dq7abmqts/image/upload/v1664327324/yogabg_4_nf15px.png");
    background-attachment: fixed;
    height: 400px;
    width: 100%;
    background-repeat: no-repeat;
     background-size: cover;
  }        





 .footer {
    background-color:#572728;
    margin-top: 0;
    padding-top: 0;
 }

