body {
    background-color: #FFF6EA;
}

nav {
    background-color:#ffe4c4;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    padding: 15px;
    font-size: x-large;
    
    
}


a:link {
    color: orangered;
    text-decoration: none;
}

a:visited {
    color: brown;
}

@media only screen and (max-width: 600px) {
    nav {
        justify-content: space-around;
        position:relative;
    }
}

.video {
    padding-bottom: none;
    margin-bottom: none;
   
}

.fact {
    background-color: bisque;
    text-align: center;
    margin-top: none;
    padding-top: auto;
}

p {
    color: brown; 
    text-decoration: underline;
    font-size:xx-large;
}

