body , html{
    height: 100%;
    margin: 0;
}



.bg {
    background-color: #FFF6EA;
    background-image: url("https://res.cloudinary.com/dq7abmqts/image/upload/v1664314235/yogabg_ev2orq.png");

        
      
        /* Full height */
        height: 100%; 
      
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }


/*---
 * first button
 --- */
.container {
    position:absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
}

@media only screen and (max-width: 600px) {
    .container{
        position:absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
        
    }
}


.button {
    color: #572728;
    background-color: #FFF6EA;
    font-size: larger;
    text-align: center;
    text-decoration: none;
}
 .button:hover {
    color: #a52a2a;
 }

 .enter {
    color:#FFF6EA;
    background-color: #572728;
    font-size: xx-large;
 }

 /*---
 * Affirmation photo
 --- */

 .affirmation {
    position:absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    opacity: 0;
 }
 @media only screen and (max-width: 600px) {
    .affirmation {
        position:absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    }
}
 /*---
 * Second Button
 --- */
 .enter {
position:absolute;
opacity: 0;
   top:90%;
   left:50%;
transform: translate(-50%, -50%);

 }



@media only screen and (max-width: 600px) {
    .enter{
        position:absolute;
        opacity: 0;
           top:85%;
           left:50%;
        transform: translate(-50%, -50%);
        
    }
}

