body {
    background-color: #FFF6EA;
}

/*---
 * first button
 --- */
.container {
    text-align: center;
    margin-top: 350px;
}
.button {
    color: orangered;
    text-align: center;
    text-decoration: none;
}
 .button:hover {
    color: #a52a2a;
 }

 /*---
 * Affirmation photo
 --- */

 .affirmation {
    opacity: 0;
    margin-top: 250px -1px;
   display:flex;
   justify-content: center;
 }
 @media only screen and (max-width: 600px) {
    .affirmation {
        margin-top: 350px;
    }
}
 /*---
 * Second Button
 --- */
 .enter {
    opacity: 0;
    opacity: 0;
    margin-top: 250px -1px;
   display:flex;
   justify-content: center;

 }


